#### Import important libraries

In [5]:
#!pip install pyspark
from __future__ import print_function
import pyspark
from pyspark.sql import SparkSession
from pyspark.ml.feature import VectorAssembler,VectorIndexer
from pyspark.ml.feature import VectorAssembler
from pyspark.ml.regression import LinearRegression
from pyspark.ml.regression import RandomForestRegressor
from pyspark.ml.evaluation import RegressionEvaluator

#### Load data and its details

In [7]:
spark = SparkSession.builder.appName("Admission Likelihood").getOrCreate()
dataframe = spark.read.csv("Admission_Prediction.csv",header=True)
dataframe.show()

+---------+-----------+-----------------+----+----+----+--------+---------------+
|GRE Score|TOEFL Score|University Rating| SOP| LOR|CGPA|Research|Chance of Admit|
+---------+-----------+-----------------+----+----+----+--------+---------------+
|   337.00|     118.00|                4|4.50|4.50|9.65|    1.00|           0.92|
|   324.00|     107.00|                4|4.00|4.50|8.87|    1.00|           0.76|
|     null|     104.00|                3|3.00|3.50|8.00|    1.00|           0.72|
|   322.00|     110.00|                3|3.50|2.50|8.67|    1.00|           0.80|
|   314.00|     103.00|                2|2.00|3.00|8.21|    0.00|           0.65|
|   330.00|     115.00|                5|4.50|3.00|9.34|    1.00|           0.90|
|   321.00|     109.00|             null|3.00|4.00|8.20|    1.00|           0.75|
|   308.00|     101.00|                2|3.00|4.00|7.90|    0.00|           0.68|
|   302.00|     102.00|                1|2.00|1.50|8.00|    0.00|           0.50|
|   323.00|     108.00|                3|3.50|3.00|8.60|    0.00|           0.45|
|   325.00|     106.00|                3|3.50|4.00|8.40|    1.00|           0.52|
|   327.00|     111.00|                4|4.00|4.50|9.00|    1.00|           0.84|
|     null|     112.00|                4|4.00|4.50|9.10|    1.00|           0.78|
|   307.00|     109.00|                3|4.00|3.00|8.00|    1.00|           0.62|
|   311.00|     104.00|                3|3.50|2.00|8.20|    1.00|           0.61|
|   314.00|     105.00|                3|3.50|2.50|8.30|    0.00|           0.54|
|   317.00|     107.00|                3|4.00|3.00|8.70|    0.00|           0.66|
|   319.00|     106.00|                3|4.00|3.00|8.00|    1.00|           0.65|
|   318.00|     110.00|                3|4.00|3.00|8.80|    0.00|           0.63|
|   303.00|     102.00|                3|3.50|3.00|8.50|    0.00|           0.62|
+---------+-----------+-----------------+----+----+----+--------+---------------+
only showing top 20 rows

In [8]:
dataframe.printSchema()

root
 |-- GRE Score: string (nullable = true)
 |-- TOEFL Score: string (nullable = true)
 |-- University Rating: string (nullable = true)
 |-- SOP: string (nullable = true)
 |-- LOR: string (nullable = true)
 |-- CGPA: string (nullable = true)
 |-- Research: string (nullable = true)
 |-- Chance of Admit: string (nullable = true)

#### Data Cleaning

In [9]:
#Convert the type
from pyspark.sql.functions import col
new_dataframe = dataframe.select(*(col(c).cast("float").alias(c) for c in dataframe.columns))
new_dataframe.printSchema()

root
 |-- GRE Score: float (nullable = true)
 |-- TOEFL Score: float (nullable = true)
 |-- University Rating: float (nullable = true)
 |-- SOP: float (nullable = true)
 |-- LOR: float (nullable = true)
 |-- CGPA: float (nullable = true)
 |-- Research: float (nullable = true)
 |-- Chance of Admit: float (nullable = true)

In [12]:
from pyspark.sql.functions import col, count, isnan, when
#check for null in columns
new_dataframe.select([count(when(col(c).isNull(), c)).alias(c) for c in new_dataframe.columns]).show()

+---------+-----------+-----------------+---+---+----+--------+---------------+
|GRE Score|TOEFL Score|University Rating|SOP|LOR|CGPA|Research|Chance of Admit|
+---------+-----------+-----------------+---+---+----+--------+---------------+
|       15|         10|               15|  0|  0|   0|       0|              0|
+---------+-----------+-----------------+---+---+----+--------+---------------+

In [16]:
#Impute the null value using inbuilt imputer
from pyspark.ml.feature import Imputer
imputer = Imputer(inputCols=["GRE Score", "TOEFL Score","University Rating"], 
                  outputCols=["GRE Score", "TOEFL Score","University Rating"])
model = imputer.fit(new_dataframe)

imputed_data = model.transform(new_dataframe)

In [17]:
imputed_data

DataFrame[GRE Score: float, TOEFL Score: float, University Rating: float, SOP: float, LOR: float, CGPA: float, Research: float, Chance of Admit: float]

In [18]:
#checking for null ir nan type values in our columns
imputed_data.select([count(when(col(c).isNull(), c)).alias(c) for c in imputed_data.columns]).show()

+---------+-----------+-----------------+---+---+----+--------+---------------+
|GRE Score|TOEFL Score|University Rating|SOP|LOR|CGPA|Research|Chance of Admit|
+---------+-----------+-----------------+---+---+----+--------+---------------+
|        0|          0|                0|  0|  0|   0|       0|              0|
+---------+-----------+-----------------+---+---+----+--------+---------------+

#### Model development

In [19]:
features = imputed_data.drop('Chance of Admit')
features

DataFrame[GRE Score: float, TOEFL Score: float, University Rating: float, SOP: float, LOR: float, CGPA: float, Research: float]

In [21]:
#let's assemble our features together using vectorAssembler
assembler = VectorAssembler( inputCols=features.columns,outputCol="features")
output = assembler.transform(imputed_data)

In [23]:
output= output.select("features", "Chance of Admit")
output = assembler.transform(imputed_data)
output= output.select("features", "Chance of Admit")

In [25]:
#train-test spilit
train_df,test_df = output.randomSplit([0.7, 0.3])
train_df.show()
test_df.show()

+--------------------+---------------+
|            features|Chance of Admit|
+--------------------+---------------+
|[290.0,100.0,1.0,...|           0.47|
|[290.0,104.0,4.0,...|           0.45|
|[293.0,97.0,2.0,2...|           0.64|
|[294.0,93.0,1.0,1...|           0.46|
|[295.0,93.0,1.0,2...|           0.46|
|[295.0,96.0,2.0,1...|           0.47|
|[295.0,99.0,1.0,2...|           0.37|
|[295.0,99.0,2.0,2...|           0.57|
|[295.0,101.0,2.0,...|           0.69|
|[296.0,95.0,2.0,3...|           0.44|
|[296.0,97.0,2.0,1...|           0.49|
|[296.0,99.0,2.0,2...|           0.61|
|[296.0,99.0,2.0,3...|           0.47|
|[296.0,101.0,1.0,...|            0.6|
|[297.0,96.0,2.0,2...|           0.43|
|[297.0,99.0,4.0,3...|           0.54|
|[297.0,100.0,1.0,...|           0.52|
|[297.0,101.0,3.0,...|           0.57|
|[298.0,92.0,1.0,2...|           0.51|
|[298.0,97.0,3.121...|           0.45|
+--------------------+---------------+
only showing top 20 rows

+--------------------+---------------+
|            features|Chance of Admit|
+--------------------+---------------+
|[294.0,95.0,1.0,1...|           0.49|
|[297.0,96.0,2.0,2...|           0.34|
|[297.0,98.0,2.0,2...|           0.59|
|[298.0,98.0,2.0,4...|           0.34|
|[298.0,100.0,3.0,...|           0.58|
|[298.0,101.0,4.0,...|           0.53|
|[299.0,100.0,1.0,...|           0.59|
|[299.0,100.0,3.0,...|           0.63|
|[299.0,102.0,3.0,...|           0.56|
|[300.0,95.0,2.0,3...|           0.62|
|[300.0,99.0,1.0,3...|           0.36|
|[300.0,101.0,3.0,...|           0.59|
|[300.0,104.0,3.0,...|           0.71|
|[300.0,105.0,1.0,...|           0.58|
|[303.0,100.0,2.0,...|           0.64|
|[304.0,107.0,3.0,...|           0.57|
|[305.0,102.0,2.0,...|           0.59|
|[305.0,104.0,2.0,...|           0.53|
|[306.0,103.0,3.0,...|           0.64|
|[307.0,102.0,3.0,...|           0.73|
+--------------------+---------------+
only showing top 20 rows

In [26]:
##Linear Regression Model
lin_reg = LinearRegression(featuresCol = 'features', labelCol='Chance of Admit')
linear_model = lin_reg.fit(train_df)
print("Coefficients: " + str(linear_model.coefficients))
print("Intercept: " + str(linear_model.intercept))

Coefficients: [0.0016169274883131293,0.0029230937970294905,0.003583327631676887,0.003070305256896099,0.012491420600041218,0.12783018127824258,0.024930337137995785]
Intercept: -1.2790518550139507

In [27]:
trainSummary = linear_model.summary
print("RMSE: %f" % trainSummary.rootMeanSquaredError)
print("r2: %f" % trainSummary.r2)

RMSE: 0.059050
r2: 0.822595

#### Model Evaluation

In [28]:
predictions = linear_model.transform(test_df)
predictions.select("prediction","Chance of Admit","features").show()

+-------------------+---------------+--------------------+
|         prediction|Chance of Admit|            features|
+-------------------+---------------+--------------------+
|0.47756722158359666|           0.49|[294.0,95.0,1.0,1...|
|0.47139609808939364|           0.34|[297.0,96.0,2.0,2...|
|  0.520412981486446|           0.59|[297.0,98.0,2.0,2...|
| 0.5726541882332608|           0.34|[298.0,98.0,2.0,4...|
|  0.604673598562099|           0.58|[298.0,100.0,3.0,...|
| 0.5841899148546565|           0.53|[298.0,101.0,4.0,...|
| 0.5384705836298911|           0.59|[299.0,100.0,1.0,...|
|  0.563790390671048|           0.63|[299.0,100.0,3.0,...|
| 0.6712123553008902|           0.56|[299.0,102.0,3.0,...|
| 0.5945294655113844|           0.62|[300.0,95.0,2.0,3...|
|  0.427365356200073|           0.36|[300.0,99.0,1.0,3...|
| 0.5612853108757916|           0.59|[300.0,101.0,3.0,...|
| 0.6120927191904677|           0.71|[300.0,104.0,3.0,...|
| 0.5416631526087043|           0.58|[300.0,105.0,1.0,...|
| 0.6185257486623728|           0.64|[303.0,100.0,2.0,...|
| 0.5889806927238441|           0.57|[304.0,107.0,3.0,...|
| 0.5318898287659657|           0.59|[305.0,102.0,2.0,...|
| 0.5474894403994519|           0.53|[305.0,104.0,2.0,...|
| 0.6252627237689012|           0.64|[306.0,103.0,3.0,...|
| 0.6300912693481102|           0.73|[307.0,102.0,3.0,...|
+-------------------+---------------+--------------------+
only showing top 20 rows